* {
    border: none;
    border-radius: 0px;
    font-family: "Maple Mono SC NF";
    font-size: 8px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.356);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #cdd6f4
}

#workspaces {
    background: #022125;
    margin: 6.5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: transparent;
    color: transparent;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

#custom-clock {
    background: #022125;
    color: #ffffff;
    font-size: 13px;
    margin: 5px 5px;
    padding: 6.5px 8px;
    border-radius: 16px;
}

#custom-memoria {
    background: #022125;
    color: #ffffff;
    font-size: 13px;
    margin: 5px 5px;
    padding: 6.5px 8px;
    border-radius: 16px;
}

#custom-wl-gammarelay-temperature,
#custom-wl-gammarelay-brightness {
    background: #022125;
    border-radius: 16px;
    font-size: 13px; 
    margin: 5px 5px;
    padding: 6.5px 8px;
    color: #ffffff;
}

#custom-wl-gammarelay-brightness { margin-right: 15px; }

#pulseaudio {
	background: #022125;
    border-radius: 16px;
    border: solid 0px #f4d9e1;
    margin: 5px 5px;
    padding: 0px 8px;
    color: #ffffff;
}

#pulseaudio.muted {
    border-radius: 16px;
    color: red;
}

#custom-launcher {
    color: #cdd6f4;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
    transition: .3s;
}

#custom-launcher:hover {
    color: #858794;
    transition: .3s;
}

#custom-pi {
    margin: 5px 0px 5px 0px;
    padding: 0px 4px;
    font-size: 16px;
    border-radius: 16px;
    transition: .3s;
}

#custom-pi:hover {
    background: #022125;
    margin: 5px 0px 5px 0px;
    padding: 0px 4px;
    font-size: 16px;
    transition: .3s;
}

#custom-web {
    margin: 5px 0px 5px 3px;
    padding: 0px 4px;
    font-size: 16px;
    border-radius: 16px;
    transition: .3s;
}

#custom-web:hover {
    background: #022125;
    margin: 5px 0px 5px 3px;
    padding: 0px 4px;
    font-size: 16px;
    transition: .3s;
}

#custom-backup {
    margin: 5px 0px 5px 3px;
    padding: 0px 4px;
    font-size: 16px;
    border-radius: 16px;
    transition: .3s;
}

#custom-backup:hover {
    background: #022125;
    margin: 5px 0px 5px 3px;
    padding: 0px 4px;
    font-size: 16px;
    transition: .3s;
}

#custom-sep {
    font-size: 16px;
    padding: 1px 5px 0px 6px;
    margin: 8px 0px 0px 0px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    font-size: 18px;
    margin: 8px 0px 7px 0px;
    padding: 1px 11px 0px 6px;
    border-radius: 16px;
    transition: .3s;
}

#custom-notification:hover {
    background: #022125;
    transition: .3s;
}
